@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   
}

#landing__jr {
   padding: 2rem;
}
html {
   scroll-behavior: smooth;
}
html, body {
   max-width: 100%;
   overflow-x: hidden;
}

a{
   text
}

p {
   padding-bottom: 2rem;
   padding-top: 2rem;
   font-weight: 300;
   font-size: 1.1rem;
   line-height: 1.5rem;
   font-weight: 300;
   
}

h1{
    font-weight: 700;
    color: #131e2e;
    font-size: 3em;
    padding-top: 1rem;

}

h2 {
   text-transform: uppercase;
   font-weight: 700;
   padding-top: 7em;
   padding-bottom: 1.5em;
   font-size: 13px;
   color: #969696;   
   opacity: 0.7;
}

.purple {
   color: #6415FF;
}

.purplee {
   color: #6415FF;
}

.logo {
   width: 40px;
   margin: 0 auto;  
}

ul {
   display: flex;
}

li {
   list-style-type: none;
}

.logo2 {
   width: 100%;
   max-width: 25em;
   opacity: 0.5;

}
/* NAVAGATION MENU */

nav {
   display: flex;
}

.nav__container {
   width: 100%;
   max-width: 1250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.nav__title {
   color: #243E63;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items:center;
   font-size: 200%;
   font-weight: 900;
   
   
}

.nav__link {
   margin-left: 16px;
   text-decoration: none;
   font-size: 0.92rem;
   color: #243E63;
   padding: 15px;
   font-weight: 600;

}

.nav__link--login {
   margin-left: 3rem;
}

.nav__link:hover {
   text-decoration: underline;
}

.nav__link--signup{
   border: 12px solid #6415FF;
   background: #6415FF;
   border-radius: 9999px;
   color: aliceblue;
   padding: 0.75rem 1rem;
   border-bottom-width: 0px;
   border-top-width: 0px;
}
.nav__link--signup:hover{
   text-decoration: none;
   background: #4404c4;
   border: 12px solid #4404c4;
   border-radius: 9999px;
   color: aliceblue;
   padding: 0.75rem 1rem;
   border-bottom-width: 0px;
   border-top-width: 0px;
}


.btn__menu {
   background-color: transparent;
   font-size: 40px;
   text-align: center;
   color: #7342d6;
   border: none;
}



.btn__menu--close {
   position: absolute;
   right: 20px;
   top: 10px;
   padding: 8px;
   color: white;
}

.menu__backdrop {
   position: absolute;
   background-color: #242424;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* 

Landing

*/



.logo__title {
   padding-left: 0.6rem;
  font-weight: 900;
  font-size: 23px;
  color: #243E63;
  letter-spacing: .03rem;
}




/* HEADER CONTAINER */

#landing {
   background-color: #ffffff;
}

.header__container {
   width: 100%;
   max-width: 1250px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   padding-top: 4em;
   
}

.header__container--para{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 41%;
}

.header__container--button{
   border: solid rgb(231, 231, 231) 2.5px;
   width: 100%;
   max-width: 430px;
   border-radius: 50px;
   padding: 0.3rem;
  
   
}

.header__button{
   border: 1.2em solid #6415FF;
    background: #6315ff;
    border-radius: 9999px;
    color: aliceblue;
    padding: 1em 1em;
    border-bottom-width: 0em;
    border-top-width: 0em;
    font-weight: 700;
    font-size: 1.02rem;
}
.header__button:hover {

   background: #4500ce;
   border: 1.5em solid #4500ce;
   border-radius: 9999px;
   color: aliceblue;
   padding: 1em 1em;
   border-bottom-width: 0em;
   border-top-width: 0em;
   font-weight: 700;
   font-size: 0.7rem;
}


input {
   border: none;
    padding-left: 1.1em;
    font-size: 1.1rem;
    margin-right: 1.28rem;
    text-decoration: none;
    color: inherit;
}

input:focus {
      outline:none;
    }

::placeholder {
   color: rgb(167, 166, 166);
   font-size: 0.9em;
   border: none;
}



.header__img--photo {
   width: 100%;
   padding-top: 2em;
}


/* 

FEATURES 

*/

.features {
   position: ;
}

figure {
   width: 60%;
   padding-left: 0.5em;
}


.row{
   width: 100%;
   max-width: 1250px;
   padding-top: 7em;
   padding-bottom: 7em;
   margin: 0 auto;
}


.section__title {
   font-weight: 700;
   text-transform: uppercase;  
   text-align: center; 
   color: #6415FF;
   font-size: 1rem;
   letter-spacing: 0.1rem;
   display: flex;
   justify-content: center;;
}

.section__title--sub {
   
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 0rem; 
   text-transform: none;
   font-weight: 900;
   font-size: 3.2rem;
   color: #243E63;  
   opacity: calc(1); 
   
}

.section__para {
   
   margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    width: 100%;
    max-width: 550px;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    color: #7c8ba1;
}

.services {
display: flex;
flex-wrap: wrap;
justify-content: center;
}


/* 

FEATURES

*/



.features__wrapper {
   margin-top: 2.5rem;
   width: 100%;
   
}

.container {
   display: flex;
   width: calc(100%/3);
   
   
}

.contain {
   padding: 80px 0;
   padding-bottom: 0;
}

.features__para {
   
   
   line-height: 200%;
   font-size: 1em;
   font-weight: 500;
   opacity: 1;
   color: #7c8ba1;
}

.features__subtitle {
   font-size: 24px;
   color: #243E63;
}

.features__para--container {
   
   
}

.features__img {
   border: 1px solid #d4d4d4;
   border-radius: 9999px;
   flex-shrink: 0;
   height: 3.8em;
   width: 3.8em;
   margin-right: 20px;
   margin-left: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
   
}


/* 

QUALITY WORK

*/

.featuredd {
   display: flex;
   flex-direction:row-reverse;
   align-items: center;
   justify-content: center;
   max-width: 1250px;
}

.quality__img {
   width: 100%;
   border: 0.1em solid #7c8ba167;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quality__header {
   width: 50%;
   padding-right: 4rem;
}

.quality__work {
   width: 50%;
   color: #6415FF;
   text-transform: uppercase;
   padding-bottom: 20px;
   font-size: 1rem;
   letter-spacing: 0.1rem;
}

.quality__container {
   width: 50%;
}

.quality__button {
   border: 15px solid #6415FF;
    background: #6415FF;
    border-radius: 9999px;
    color: aliceblue;
    padding: 1rem;
    border-bottom-width: 0px;
    border-top-width: 0px;
    font-weight: 700;
    font-size: 0.85rem;
    width: 100%;
    max-width: 150px;
}
.quality__button:hover {
   border: 15px solid #4306be;
   background: #4306be;
   border-radius: 9999px;
   color: aliceblue;
   padding: 1rem;
   border-bottom-width: 0px;
   border-top-width: 0px;
   font-weight: 700;
   font-size: 0.85rem;
   width: 100%;
   max-width: 150px;
   transition: 555ms;
}

.quality__design {
   font-size: 3rem;
   color: #243E63;
   font-weight: 900;
   
}

.quality__paragraph {
   line-height: 1.8rem;
   padding: 0 ;
   padding-top: 1rem;
   padding-bottom: 2rem;
   color: #7c8ba1;
   font-weight: 400;
}

/*

STEPS 

*/

.featureddd{
   display: flex;
   align-items: center;
}

.steps__img {
   display: flex;
   justify-content: center;
}

.steps__outer{
   margin: 0 auto;
   padding-left: 4rem;
}



.steps__inner {
   padding-top: 3rem;
   margin-right: 9rem;
}


.steps__list {
   display: flex;
   flex-direction: column;
}

.steps__list--order {
   display: flex;
   flex-direction: row;
   
}

.steps__title {
   color: #6415FF;
   font-size: 1.2rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   padding-bottom: 1rem;
}

.title__bottom{
   color: #243E63;
   font-size: 3rem;
   font-weight: 900;
}

.number1 {
   font-size: 2.25rem;
   font-weight: 600;
   line-height: 1;
   opacity: 0.8;
   color: #cbd5e0;
}

.steps{
   padding-right: 1rem;
   padding-left: 1rem;
}

.steps__register{
   line-height: 1;
   font-size: 1.25rem;
   color: #243E63;
}

.steps__para{
   opacity: 0.7;
   padding: 0;
   padding-top: 1rem;
   padding-bottom: 2rem;
   line-height: 2rem;
   font-size: 0.9rem;
   font-weight:500;
   color: #243E63;
   
}


/*

PRICING

*/


.pricing {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pricing__title {
   color: #6415FF;
   font-size: 1rem;
   padding-bottom: 2rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

.pricing__subtitle {
   color: #243E63;
   font-size: 3.2rem;
   font-weight: 900;
   
}

.pricing__para {
   padding-top: 1.5rem;
    padding-bottom: 3rem;
    width: 100%;
    max-width: 550px;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    color: #7c8ba1;
}

.three__plans{
   display: flex;
   flex-wrap: wrap;
   
   
}

.plan__decor {
   background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 0.5rem;
}

.plan__decor--three {
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   height: 0.5rem;
}

.plan__one {
   width: calc(100%/3);
   display: flex;
   flex-direction: column;
   transform: scale(0.9);
   margin-top: -2rem
}

.plan__one--half{
   border-radius: 12px;
   border: 0px solid #131e2e;
   box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
}

.plan__two {
   border-radius: 12px;
   background-color: #6415ff;
   box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__three {
   border-radius: 12px;
   border: 0px solid #131e2e;
   box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
}

.plan__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: ;
}

.plan__header--two {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: ;
}

.plan__header--three {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: ;
}

.personal {
   font-size: 1.5rem;
   font-weight: 600;
   text-transform: uppercase;
   padding-top: 3rem;
   padding-bottom: 1rem;
   
}

.price {
   font-size: 3rem;
   font-weight: 700;
}

.duration {
   font-size: 1.2rem;
   font-weight: 600;
   color: #969696;
   text-transform: uppercase;
   padding-top: 1rem;
   padding-bottom: 3rem;
   letter-spacing: 1px;
}

.personal__two{
   font-size: 1.5rem;
   font-weight: 600;
   text-transform: uppercase;
   padding-top: 3rem;
   padding-bottom: 1rem;
   color: #fff;

}

.price__two {
   font-size: 3rem;
   font-weight: 700;
   color: #fff;
}

.duration__two {
   font-size: 1.2rem;
   font-weight: 600;
   color: #ffffff;
   text-transform: uppercase;
   padding-top: 1rem;
   padding-bottom: 3rem;
   letter-spacing: 1px;
}

.plan__features {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
}

.plan__features--two {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;

}

.plan__features--three{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;

}

.individuals {
   padding-top: 2rem;
   padding-bottom: 1rem;
   font-size: 25px;
   font-weight: 600;
}

.feature {
   padding: 1rem;
   padding-bottom: 1rem;
   font-size: 18px;
   color: #969696f8;
}

.individuals__two {
   padding-top: 2rem;
   padding-bottom: 1rem;
   font-size: 25px;
   font-weight: 600;
   color: #ffffff;
}

.feature__two{
   padding: 1rem;
   padding-bottom: 1rem;
   font-size: 18px;
   color: rgba(255, 255, 255, 0.856);
}

.plans__button {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 1rem;
}

.plan__button {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: rgb(87, 218, 200);
   color: rgb(255, 255, 255);
   border: none;
}
.plan__button:hover {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: rgb(87, 218, 200);
   color: rgb(255, 255, 255);
   border: none;
   transform: scale(1.02);
   transition-duration: 300ms;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
}

.plans__button--two {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 1rem;
}

.plan__button--two {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: #ffffff;
   color: #6415FF;
   border: none;
}
.plan__button--three {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
   color: #ffffff;
   border: none;
}
.plan__button--two:hover {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: #ffffff;
   color: #6415FF;
   border: none;
   transform: scale(1.02);
   transition-duration: 300ms;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
}
.plan__button--three:hover {
   border-radius: 9999px;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   font-weight: 700;
   padding: 1rem 1rem;
   width: 50%;
   font-size: 0.875rem;
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
   color: #ffffff;
   border: none;
   transform: scale(1.02);
   transition-duration: 300ms;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
}

hr.solid{
   border: 1px solid rgba(207, 207, 207, 0.521);
}

.divider {
   border: 0.5px solid rgba(255, 255, 255, 0.158);
  margin-right: 2.5rem;
  
}

/*

FOOTER

*/
.row__above {
   background-color: rgba(100,21,255,1);
   
}

.row__footer{
   max-width: 1250px;
   width: 100%;
   padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   padding-top: 9rem;
   

}

.main__links {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   font-size: 14px;
}

.main__link{
   
   color: #fff;
   
}

.main__list, .product__list, .press__list, .team__list, .legal__list {
   display: flex;
   flex-direction: column;
   padding-bottom: 3rem;

}


.product__login {
   padding-bottom: 1rem;
   color: white;
   text-decoration: none;
}

.product__login:hover {
   text-decoration: underline;
   
}

.footer__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 3rem;
   margin-bottom: 4rem;
}

.footer__imgs {
   display: flex;
   flex-direction: row;

}
.footer__media {
   display: flex;
   transform: scale(0.7);
   
}

.footer__facebook {
   padding: 1rem;
   background-color: #fff;
   border-radius: 9999px;
   margin-right: 1rem;
   color: black;

}

.footer__copyright {
   text-align: center;
   font-weight: 500;
   color: rgba(255, 255, 255, 0.76);
   font-size: 1rem;
}

.footer__facebook svg {
   width: 1.2rem;
   height: 1.2rem;
   vertical-align: middle;

}

.footer__list {
   display: flex;
   flex-direction: row;
}

.footer__imgs {
   display: flex;
   align-items: center;
}

.footer__img{
   width: 2rem;
}

.a {
   color: inherit;
}

.footer__header {
   margin-left: 0.5rem;
   font-size: 1.25rem;
   font-weight: 900;
   letter-spacing: 0.05em;
   color: #fff;
}

.main {
   font-size: 16px;
   margin-bottom: 1.5rem;
   text-transform: uppercase;
}

.no-cursor {
   cursor: not-allowed;
}

/* Small phones, tablets and large smartphones */
@media screen and (max-width: 1280px) {
   .row__footer {
      padding: 4rem;
      padding-top: 8rem;
   }
}

@media screen and (max-width: 1180px) {
   
   h1 {
      font-size: 2.3rem;
   }
   figure {
      width: 55%;
      padding-left: 6rem;
   }
   .header__img--photo {
      
   }

/*

FOOTER

*/
.row__above {
 
}

.row__footer{
   max-width: 1250px;
   padding-top: 6rem;
   
   

}

.main__links{
   justify-content: flex-start;
}
.main__link {
   padding-left: 0px;
    padding-right: 0px;
    width: 33.3333%;
    
}


}

@media screen and (max-width: 1080px) {
   .container {
      width: 100%;
      max-width: 354px;

   }

   .header__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .featuredd {
      
   }

   .features__para {
      text-align: left;
   
   }

   .header__container--button {
     margin: 0 auto;
   }

   .header__container--para {
      max-width: 60%;
      text-align: center;
      width: auto;
      margin-top: 1rem;
   }

   .header__button {
      text-align: center;
   }

   .header__container--spon {
      margin: 0 auto;
      width: 100%;
   }
   h2 {
      font-size: 0.9rem;
      padding-top: 4rem;
   }

   .logo2 {
   width: 100%;
   max-width: 30em;
   opacity: 0.5;
   }
   .header__img--photo {
      padding-top: 4rem;
   }

   h1 {
      text-align: center;
      font-size: 2rem;
   }
   p {
      text-align: center;
      padding-bottom: 2rem;
      padding-top: 1.5rem;
   }


   /* 
   
   FEATURES
   
   */

   .section__para {
     
   }

   .quality__header {
      
   }

   /* 
   
   QUALITY WORK

   */

   .quality__img {
      
   }

   .quality__design{
      font-size: 2.3rem;
      
   }
   .quality__paragraph{
      line-height: 1.5rem;
      text-align: left;
      font-size: 0.85rem;
   }

   /* 
   
   STEPS
   
   */

   .steps__outer{
      padding-left: 2.5rem;
   }

   .steps__inner {
      margin-right: 0rem;
   }
   .title__bottom {
      color: #243E63;
      font-size: 2rem;
      font-weight: 900;
   }

   .steps__para{
      text-align: left;
      line-height: 2rem;
   }

   /* 

   Pricing

   */

   .three__plans {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .plan__one {
      width: 100%;
    max-width: 450px;
   }
 }

 @media screen and (max-width: 880px) {

   .footer__bottom {
      flex-direction: column;
  }
  .section__title--sub {
     font-size: 2.9rem;
     line-height: 4rem;
  }
}


 @media screen and (max-width: 780px) {

/* 

HEADER

*/

.header__container {


}
/*

PRICING

*/

.featuredd {
   flex-direction: column;
   align-items: center;
   margin-bottom: 4rem;
   margin-top: 0;
}

.quality__header {
   width: 100%;
   max-width: 500px;
   text-align: center;
   padding-right: 0;
}

.quality__work {
   text-align: center;
   width: 100%;
}

.quality__container{
   width: 100%;
   max-width: 500px;
   padding: 2rem;
   margin-bottom: 2rem;
}

.quality__paragraph {
   text-align: center;
   font-size: 14px;
   
}

pricing__subtitle
/* 

QUALITY WORK

*/

.quality__design{
   font-size: 34px;   
}

.quality__img {
   
  
  
   
}
 /* 
 
STEPS 

*/

.steps{
   margin-top: 1rem;
   padding-left: 0;
   padding-right: 0;   
}
.featureddd {
   display: block;
  }

  .steps__img {
   padding: 3rem;
  }

  .steps__imgs {
     width: 100%;
     max-width: 450px;
  }

  .steps__title {
   text-align: center;
   font-weight:700;
  }

  .title__bottom {
   text-align: center;
  }

  .steps__inner {
     display: flex;
     flex-direction: column;
  }

  .steps__list--order {
     display: block;
     text-align: center;
     margin-left: 120px;
     margin-right: 120px;
  }

  .steps__outer{
     padding: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
    
   }
 
.steps__para {
   text-align: center;
}

.steps__list {
   
  
}


/* 

PRICING


*/


.pricing__subtitle {
   text-align: center;
   font-size: 2.5rem;
}
.pricing__para {
   font-size: 1rem;
}
 }

 @media screen and (max-width: 580px){
    
    .section__para {
     
   }

 }
    