@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

nav {
   height: 80px;
   display: flex;
}

.purple {
   color: #6415FF;
}

.nav__title{
   color: #243E63;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items:center;
   font-size: 200%;
   font-weight: 900;

}


.nav__container {
   width: 100%;
   max-width: 1200px;
   padding: 0 24px;
   padding-top: 5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.logo {
   width: 8vh;
   margin: 10%;
   
}

ul {
   display: flex;
}

li {
   list-style-type: none;
}

img {
   width: 100%;
}

.nav__link {
   margin-left: 16px;
   text-decoration: none;
   font-size: 20px;
   color: #243E63;
   padding: 24px;
}

.nav__link:hover {
   text-decoration: underline;
}

.nav__link--signup{
   border: 12px solid #6415FF;
   background: #6415FF;
   border-radius: 9999px;
   color: aliceblue;
   padding: 0.75rem 1rem;
   border-bottom-width: 0px;
   border-top-width: 0px;
}

.nav__link--signup:hover{
   text-decoration: none;
}

#landing {
   background-color: #ffffff;
}

header {
   height: calc(100vh - 80px);
}

.header__container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: row;
}

.header__container--para{
   padding: 80px;
   width: 40%;
   display: flex;
   flex-direction: column;
   
}
figure {
   width: 60%;
   display: flex;
}

 h1{
    font-weight: 700;
    color: #243E63;
    line-height: 1.25;
    font-size: 40px;
 }